.page-container {
    padding-top: 90px;
}

.page-header {
    font-size: 24px;
    margin: 0 0 15px;
    padding: 0;
    border: none;
    line-height: 32px;
    font-weight: 500;
    color: #242a30;
}

.page-header small {
    line-height: 20px;
}
