.spinner,
.spinner-small {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    border: 2px solid rgba(0, 0, 0, .05);
    border-top: 2px solid #24B498;
    border-radius: 100%;
    // -webkit-animation: rotation .6s infinite linear;
    // -moz-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
}

.spinner-small {
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -15px
}

// @-webkit-keyframes rotation {
//     from {
//         -webkit-transform: rotate(0)
//     }
//     to {
//         -webkit-transform: rotate(359deg)
//     }
// }

// @-moz-keyframes rotation {
//     from {
//         -moz-transform: rotate(0)
//     }
//     to {
//         -moz-transform: rotate(359deg)
//     }
// }

@keyframes rotation {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}
