#top-menu {
    z-index: 1009;
    background: #2d353c;
    height: 40px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
}

#top-menu .nav {
    white-space: nowrap;
}

#top-menu .nav>li {
    position: relative;
    display: inline-block;
}

#top-menu .nav>li>a {
    padding: 10px 20px;
    color: #a8acb1;
    line-height: 20px;
}

#top-menu .nav>li>a .caret {
    margin-top: 8px;
    margin-left: 5px;
}

#top-menu .nav>li:hover>a,
#top-menu .nav>li>a:hover {
    color: #fff;
    background: #232a2f;
}

#top-menu .nav > li.active > a {
    background: #00acac;
    color: #fff;
}

#top-menu .nav .sub-menu {
    display: none;
    position: absolute;
    width: 220px;
    background: #1a2229;
    padding: 10px 0;
    list-style-type: none;
}

#top-menu .sub-menu>li>a {
    padding: 5px 20px;
    display: block;
    color: #8a8f94;
    position: relative;
}

#top-menu .sub-menu>li.active>a,
#top-menu .sub-menu>li>a:hover {
    color: #fff;
}

#top-menu .nav>li.has-sub:hover>.sub-menu {
    display: block;
}
