.alert,
.note {
    padding: 15px;
    margin-bottom: 20px;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    background: #e9edef;
    color: #5b6165;
}

.alert.alert-success {
    background: #d4edda;
    color: #155724;
}

.alert.alert-info {
    background: #c8e9f3;
    color: #255b6c;
}

.alert.alert-danger {
    background: #ffcdcc;
    color: #802d2b;
}

.alert.alert-warning {
    background: #fff3cd;
    color: #856404;
}

.note {
    position: relative;
    border-left: 3px solid;
    border-color: #b6c2c9;
    background: #e9edef;
    color: #5b6165;
}

.note.note-success {
    border-color: #4a8564;
    background: #b0ebca;
    color: #3c763d
}

.note.note-danger {
    border-color: #986e6e;
    background: #fbd1d1;
    color: #a94442
}

.note.note-info {
    border-color: #587c89;
    background: #bee2ef;
    color: #31708f
}

.note.note-warning {
    border-color: #9d9080;
    background: #fff2e3;
    color: #8a6d3b
}
