.btn {
    display: inline-block;
    border: 1px solid transparent;
    vertical-align: middle;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.61539;
    border-radius: 2px;
    // -webkit-user-select: none;
    user-select: none;
    color: #444;
    border-color: #dfdfdf;
    background: #ececec;
}

.btn.btn-outline {
    color: #444;
    border-color: rgba(0,0,0,.12);
    background: 0 0;
}

.btn:hover {
    color: #444;
    border-color: #dadada #dadada #acacac;
    background: #e4e4e4;
}

.btn.active,
.btn:active,
.btn.btn-outline.active,
.btn.btn-outline:active {
    color: #444;
    border-color: #c6c6c6;
    background: #ddd;
}

.btn.active,
.btn:active, {
    // -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 2px rgba(0,0,0,.1) inset;
}

.btn-primary {
    color: #fff;
    border-color: #41b08a;
    background: #51bf99;
}

.btn-primary:hover {
    color: #fff;
    border-color: #3ea984 #3ea984 #256650;
    background: #46bb92;
}

.btn-primary:active,
.btn-primary.btn-outline:active {
    color: #fff;
    border-color: #338b6d;
    background: #41b08a
}

.btn-warning {
    color: #fff;
    border-color: #dc9c41;
    background: #f4ab43;
}

.btn-warning:hover {
    color: #fff;
    border-color: #db9839 #db9839 #9b671c;
    background: #f3a535;
}

.btn-warning:active,
.btn-warning.btn-outline:active {
    color: #fff;
    border-color: #c68324;
    background: #f29e26;
}

.btn-info {
    color: #fff;
    border-color: #59b0cb;
    background: #59c4e4;
}

.btn-info:hover {
    color: #fff;
    border-color: #51adc8 #51adc8 #2d7990;
    background: #4cbfe2;
}

.btn-info:active,
.btn-info.btn-outline:active {
    color: #fff;
    border-color: #3a9ab7;
    background: #3fbbe0;
}

.btn-danger {
    color: #fff;
    border-color: #ca5e51;
    background: #e46050;
}

.btn-danger:hover {
    color: #fff;
    border-color: #c75749 #c75749 #8a352a;
    background: #e25443;
}

.btn-danger:active,
.btn-danger.btn-outline:active {
    color: #fff;
    border-color: #b14336;
    background: #e04835;
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: .65;
    // filter: alpha(opacity=65);
    // -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf!important;
    background: #ececec!important;
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 2px 7px;
    font-size: 11px;
    line-height: 1.4555;
    border-radius: 2px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 3px 9px;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 2px;
}

.btn-group>.btn {
    position: relative;
    float: left;
}

.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 2;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

.btn-group .btn+.btn {
    margin-left: -1px;
}

.btn-toolbar {
    margin-left: -5px;
}

.btn-toolbar .btn-group {
    float: left;
}

.btn-toolbar>.btn-group {
    margin-left: 5px;
}

.btn-group>.btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-label {
    color: #444;
    background: #fff;
    position: relative;
    display: block;
    font-size: inherit;
    line-height: inherit;
    margin: -4px 0;
    padding: 4px 12px;
    font-weight: 600;
}

.btn-label.right {
    margin-right: -12px;
    margin-left: 12px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    float: right;
    border-left: 1px solid;
    border-left-color: inherit;
}

.btn-label.left {
    margin-right: 12px;
    margin-left: -12px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
    float: left;
    border-right: 1px solid;
    border-right-color: inherit;
}

.btn-sm .btn-label {
    margin: -3px 0;
    padding: 3px 9px;
}

.btn-sm .btn-label.right {
    margin-right: -9px;
    margin-left: 9px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

.btn-sm .btn-label.left {
    margin-right: 9px;
    margin-left: -9px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

.btn-xs .btn-label {
    margin: -2px 0;
    padding: 2px 7px;
}

.btn-xs .btn-label.left {
    margin-right: 7px;
    margin-left: -7px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}

.btn-xs .btn-label.right {
    margin-right: -7px;
    margin-left: 7px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}


.btn-loading {
    position: relative;
    cursor: default;
    color: transparent!important;
}

.btn-loading:after,
.btn-loading:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.28em;
    height: 1.28em;
    margin: -.64em 0 0 -.64em;
}

.btn-loading:before {
    content: '';
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 9999px;
}

.btn-loading:after {
    // -webkit-animation: button-loading .6s linear;
            animation: button-loading .6s linear;
    // -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border: 2px solid;
    border-color: #fff transparent transparent;
    border-radius: 9999px;
    // -webkit-box-shadow: 0 0 0 1px transparent;
            box-shadow: 0 0 0 1px transparent;
    content: "";
}

// @-webkit-keyframes button-loading {
//     from {
//         -webkit-transform: rotate(0);
//         transform: rotate(0)
//     }
//     to {
//         -webkit-transform: rotate(360deg);
//         transform: rotate(360deg)
//     }
// }

@keyframes button-loading {
    from {
        // -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        // -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
