.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.content {
    padding: 20px;
}
