.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1020;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    // -webkit-background-clip: padding-box;
    background-clip: padding-box;
    // -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    background: #edf0f5;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown:hover>a {
    color: #7d7d7d;
}
