.navbar {
    z-index: 1010;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
            box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.navbar-header {
    float: left;
}

.navbar-brand {
    float: left;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 30px;
    color: #333;
}

.navbar-right {
    float: right;
}

.navbar-form {
    margin: 10px 0;
    padding: 0 20px;
}

.navbar-form .form-group {
    margin-bottom: inherit;
}

.navbar-form .form-control {
    text-transform: uppercase;
    height: 30px;
}

.navbar-nav>li {
    float: left;
}

.navbar-nav>li>a {
    line-height: 20px;
    padding: 15px;
    color: #585663;
}

.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

.navbar-nav>li>.dropdown-menu {
    border-top: 1px solid #eee;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
