.panel {
    background-color: #fff;
    border-radius: 3px;
    border: none;
    // -webkit-border-radius: 3px;
    // -moz-border-radius: 3px;
    // -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
}

.panel-heading {
    background-color: #2d353c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading+.alert {
    margin-bottom: 0;
    // -webkit-border-radius: 0;
    // -moz-border-radius: 0;
    border-radius: 0
}

.panel-title {
    line-height: 20px;
    color: inherit;
    margin: 0;
}

.panel-body {
    padding: 15px;
}

.panel-footer {
    // padding: 12px 15px;
    padding: 8px 10px;
    background-color: #f2f3f4;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-default>.panel-heading {
    background: #f2f3f4;
    color: #333;
}

.panel.panel-loading .panel-body {
    position: relative;
    z-index: 0;
}

.panel.panel-loading .panel-body .panel-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    z-index: 1020;
    // filter: alpha(opacity=90);
    // -webkit-border-radius: 0 0 4px 4px;
    // -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}
