*,
*:before,
*:after {
    // -webkit-box-sizing: border-box;
    //    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background: #d9e0e7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 14px;
    color: #707478;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #242a30;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h4 {
    font-size: 1.5rem;
}

h1 small {
    font-size: 60%;
    font-weight: 400;
    color: #6a7786;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.pull-right {
    float: right;
}

.clf:before,
.clf:after {
    display: table;
    content: " ";
}

.clf:after {
    clear: both;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
