<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
        <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="description" content="preact-boilerplate">
    <meta name="msapplication-TileColor" content="#673ab8">
    <meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="preact-boilerplate">
    <meta name="application-name" content="preact-boilerplate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#673ab8">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./manifest.json">
</head>
<body>
    <noscript>Por favor, habilite javascript em seu navegador.</noscript>
    <div id="root"></div>
</body>
</html>
